body
{
    background-color: hsl(212, 45%, 89%);
}

.header
{
    font-size: 20px;
    font-family: Outfit, sans-serif;
    font-weight: bold;
    color: hsl(218, 44%, 22%);
}

.description
{
    font-size: 15px;
    font-family: Outfit, sans-serif;
    color: hsl(220, 15%, 55%);
}

.wrapper
{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 12px;
    text-align: center;
    width: 290px;
}

img
{
    width: 100%;
    border-radius: 10px;
}

.attribution
{
    font-size: 11px;
    text-align: center;
    position: fixed;      
    bottom: 5px;
    width: 100%;
}

.attribution a
{
    color: hsl(228, 45%, 44%);
}